@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.container {
  max-width: 1440px;
  padding: 0 135px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  padding: 0 135px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 62px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    padding: 0 62px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .container-fluid {
    padding: 0 30px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0a0a15;
}

.img,
.ic {
  width: 100%;
}

.bg-dark {
  background-color: #0a0a15;
}

a {
  text-decoration: none;
}

section {
  padding-block: 80px;
}
@media (max-width: 1200px) {
  section {
    padding-block: 40px;
  }
}
@media (max-width: 576px) {
  section {
    padding-block: 30px;
  }
}

.heading-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 52px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
}
.heading-text span {
  color: #e739e0;
}
@media (max-width: 1200px) {
  .heading-text {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .heading-text {
    font-size: 32px;
  }
}

.sub-heading-text {
  font-size: 18px;
  font-weight: 400;
  font-family: "SF Pro Display", sans-serif;
  line-height: 150%;
  letter-spacing: 0.09px;
}

.desc-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.09px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 576px) {
  .desc-text {
    font-size: 16px;
  }
}

.desc-text-small {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.07px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.label-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 12px;
  display: inline-block;
  background-color: #353548;
  border-radius: 8px;
  text-transform: uppercase;
}
.label-text span {
  color: rgba(255, 255, 255, 0.5);
}
.label-text-large {
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
  background-color: #353548;
  border-radius: 8px;
}

.btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  transition: all 500ms ease;
}
.btn-primary {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #e739e0;
  line-height: 150%;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #e739e0;
}
.btn-secondary {
  padding: 8px 12px;
  background-color: #e739e0;
  border-radius: 4px;
}
.btn-secondary:hover {
  background-color: #ffffff;
  color: #e739e0;
}
.btn-platform {
  padding: 12px 24px;
  border-radius: 8px;
}
.btn-platform .img-platform {
  max-width: 172.43px;
}
.btn-platform-outline {
  outline: 2px solid #a6a6a6;
}
.btn-link {
  color: rgba(255, 255, 255, 0.6);
}
.btn-link:hover {
  color: #ffffff;
}
.btn-sign {
  padding: 16px 36px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: linear-gradient(136deg, #383838 0%, #151515 46.04%, rgba(56, 56, 56, 0.4) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.btn-sign:hover {
  color: #ffffff;
}

.navbar-inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 16px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  flex-shrink: 0;
  margin-right: 100px;
}
.navbar-brand .img-logo {
  max-width: 30px;
}
.navbar-toggler {
  display: none;
  cursor: pointer;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("/assets/images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  fill: #e739e0;
}
.navbar-collapse {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-collapse .navbar-nav {
  display: flex;
  gap: 45px;
  margin-right: auto;
}
.navbar-collapse .navbar-nav .nav-link {
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 300;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}
.navbar-collapse .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.navbar-collapse.active {
  height: 400px;
}
.navbar-collapse.active .navbar-nav {
  opacity: 1;
}
.navbar-collapse .wrap-btn {
  gap: 32px;
}
@media (min-width: 993px) {
  .navbar-collapse.active {
    height: unset;
  }
}
@media (max-width: 992px) {
  .navbar-inner {
    justify-content: space-between;
  }
  .navbar-collapse {
    z-index: 99;
    height: 0;
    position: absolute;
    gap: 24px;
    top: 62px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0a0a15;
    transition: all 500ms ease;
    overflow: hidden;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    transition: all 200ms ease;
    opacity: 0;
  }
  .navbar-collapse .wrap-btn {
    flex-direction: column;
  }
  .navbar-collapse .wrap-btn .btn-link:first-child {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

.sticky {
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 100;
  transition: all 100ms ease;
}

.scrolled {
  background-color: #0a0a15;
}

.hero .hero-wrapper {
  position: relative;
}
.hero-left .heading-content {
  margin-bottom: 80px;
}
.hero-left .heading-content .heading-text {
  font-size: 76px;
  margin-block: 32px;
  max-width: 670px;
}
.hero-left .heading-content .desc-text {
  max-width: 530px;
}
.hero-left .btn-wrap {
  gap: 38px;
}
.hero-right .img-hero {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 587px;
}
@media (max-width: 1200px) {
  .hero-left .heading-content .heading-text {
    font-size: 62px;
    max-width: 542px;
  }
  .hero-left .heading-content .desc-text {
    max-width: 485px;
  }
  .hero-right .img-hero {
    max-width: 418px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
  }
  .hero-left .heading-content {
    margin-bottom: 60px;
  }
  .hero-left .heading-content .heading-text {
    font-size: 62px;
    max-width: 542px;
  }
  .hero-left .heading-content .desc-text {
    max-width: 485px;
  }
  .hero-right .img-hero {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero-left .heading-content {
    margin-bottom: 40px;
  }
  .hero-left .heading-content .heading-text {
    font-size: 34px;
    margin-block: 24px;
    width: 100%;
  }
  .hero-left .heading-content .desc-text {
    max-width: 485px;
  }
  .hero-right .img-hero {
    display: none;
  }
}

.partners .item {
  max-height: 152px;
}
@media (max-width: 576px) {
  .partners-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .partners-wrapper .item {
    max-width: 60%;
    max-height: unset;
  }
}

.works-top {
  margin-bottom: 80px;
}
.works-top .label-text {
  margin-bottom: 32px;
}
.works-top .heading-content .heading-text {
  max-width: 470px;
}
.works-top .heading-content .desc-text {
  max-width: 570px;
}
.works-bottom .img-works {
  max-width: 470px;
}
.works-bottom .wrapper-card {
  flex-wrap: wrap;
  gap: 30px;
}
.works-bottom .wrapper-card .card {
  display: inline-block;
  position: relative;
  padding: 24px;
  border-radius: 20px;
  transition: all 300ms ease;
}
.works-bottom .wrapper-card .card-body {
  max-width: 222px;
}
.works-bottom .wrapper-card .card .wrap {
  gap: 16px;
  margin-bottom: 5px;
}
.works-bottom .wrapper-card .card-icon {
  display: flex;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 8px;
}
.works-bottom .wrapper-card .card-icon .ic-works {
  max-width: 16px;
}
.works-bottom .wrapper-card .card-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.works-bottom .wrapper-card .card-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.works-bottom .wrapper-card .card::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 0;
  width: 4px;
  border-radius: 2px;
  background-color: #e739e0;
  transition: all 300ms ease;
  opacity: 0;
}
.works-bottom .wrapper-card .card::after {
  position: absolute;
  left: 24px;
  bottom: 0;
  content: "";
  height: 4px;
  width: 125px;
  border-radius: 2px;
  background-color: #e739e0;
  transition: all 300ms ease;
  opacity: 1;
}
.works-bottom .wrapper-card .card:hover {
  background-color: #353548;
}
.works-bottom .wrapper-card .card:hover::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 48px;
  width: 4px;
  border-radius: 2px;
  background-color: #e739e0;
  transition: all 300ms ease;
  opacity: 1;
}
.works-bottom .wrapper-card .card:hover::after {
  position: absolute;
  left: 24px;
  bottom: 0;
  content: "";
  height: 4px;
  width: 0;
  border-radius: 2px;
  background-color: #e739e0;
  opacity: 0 !important;
}
@media (max-width: 1200px) {
  .works-top .heading-content .desc-text {
    max-width: 518px;
  }
  .works-bottom .img-works {
    max-width: 328px;
  }
  .works-bottom .wrapper-card {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .works-top {
    margin-bottom: 60px;
  }
  .works-top .heading-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .works-top .heading-content .heading-text {
    max-width: 362px;
  }
  .works-top .heading-content .desc-text {
    max-width: 80%;
  }
  .works-bottom {
    flex-direction: column;
    gap: 32px;
  }
  .works-bottom .wrapper-card {
    justify-content: flex-start;
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .works-top .heading-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .works-top .heading-content .heading-text {
    max-width: 252px;
  }
  .works-top .heading-content .desc-text {
    max-width: 80%;
  }
  .works-bottom {
    flex-direction: column;
    gap: 32px;
  }
  .works-bottom .wrapper-card {
    justify-content: flex-start;
    gap: 30px;
  }
}

.market-top {
  margin-bottom: 80px;
  text-align: center;
}
.market-top .heading-text {
  margin-block: 32px;
}
.market-top .switch-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  padding: 8px;
}
.market-top .switch-wrapper .switch-button {
  padding: 5px 10px;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  color: #0a0a15;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 12px;
  transition: all 300ms ease;
}
.market-top .switch-wrapper .switch-button.active {
  background-color: #e739e0;
  color: #ffffff;
}
.market-bottom .slider-wrapper {
  display: none;
  gap: 30px;
}
.market-bottom .slider-wrapper.active {
  display: flex;
}
.market-bottom .slider-wrapper .slider-item,
.market-bottom .slider-wrapper .slider-rtl-item {
  display: inline-flex;
  align-items: center;
  padding: 18px 22px;
  gap: 50px;
  background-color: #353548;
  border-radius: 20px;
  border: 1px solid #ffffff;
  margin-inline: 15px;
  cursor: pointer;
}
.market-bottom .slider-wrapper .slider-item .wrap,
.market-bottom .slider-wrapper .slider-rtl-item .wrap {
  gap: 16px;
}
.market-bottom .slider-wrapper .slider-item .wrap .ic-item,
.market-bottom .slider-wrapper .slider-rtl-item .wrap .ic-item {
  padding: 4px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  backdrop-filter: blur(5px);
}
.market-bottom .slider-wrapper .slider-item .wrap-text,
.market-bottom .slider-wrapper .slider-rtl-item .wrap-text {
  flex-shrink: 0;
}
.market-bottom .slider-wrapper .slider-item .wrap-text .title-item,
.market-bottom .slider-wrapper .slider-rtl-item .wrap-text .title-item {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 4px;
  line-height: 140%;
}
.market-bottom .slider-wrapper .slider-item .wrap-text .text-item,
.market-bottom .slider-wrapper .slider-rtl-item .wrap-text .text-item {
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 140%;
}
.market-bottom .slider-wrapper .slider-item .percent,
.market-bottom .slider-wrapper .slider-rtl-item .percent {
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  line-height: 140%;
}
.market-bottom .slider-wrapper .slider-rtl .slider-item {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .market-top {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .market-top .switch-wrapper {
    border-radius: 16px;
  }
  .market-bottom .slider-wrapper {
    gap: 18px;
  }
  .market-bottom .slider-wrapper .slider-item {
    padding: 14px 18px;
    gap: 36px;
    margin-inline: 9px;
  }
}

.community {
  overflow: hidden;
}
.community-wrapper {
  position: relative;
}
.community-wrapper .img-community {
  position: absolute;
  bottom: 0;
  right: -420px;
  max-width: 1020px;
}
.community-top {
  margin-bottom: 113.5px;
}
.community-top .heading-content .label-text {
  margin-bottom: 32px;
}
.community-top .heading-content .heading-text {
  max-width: 470px;
  width: 100%;
}
.community-bottom {
  padding-bottom: 114px;
}
.community-bottom .community-list {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 48px 56px;
  max-width: 470px;
  width: 100%;
}
.community-bottom .community-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.community-bottom .community-list .item .desc-list .country {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.13px;
  color: #ffffff;
  margin-bottom: 8px;
}
.community-bottom .community-list .item .desc-list .members {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.07px;
}
.community-bottom .community-list .border-bottom {
  width: 358px;
  height: 2px;
  display: block;
  margin: 32px auto;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 51.56%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 1200px) {
  .community-wrapper .img-community {
    max-width: 832px;
  }
  .community-bottom .community-list {
    max-width: 462px;
  }
  .community-bottom .community-list .item .desc-list .country {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .community-wrapper .img-community {
    display: none;
  }
  .community-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 60px;
  }
  .community-bottom {
    padding-bottom: unset;
  }
}
@media (max-width: 576px) {
  .community-bottom {
    padding-bottom: unset;
  }
  .community-bottom .community-list {
    padding: 34px 36px;
  }
  .community-bottom .community-list .item {
    flex-direction: column;
    gap: 16px;
  }
  .community-bottom .community-list .border-bottom {
    width: 100%;
  }
}

.testimonial-left {
  width: 50%;
}
.testimonial-left .heading-content {
  margin-bottom: 86px;
}
.testimonial-left .heading-content .label-text {
  margin-bottom: 32px;
}
.testimonial-left .heading-content .heading-text {
  max-width: 470px;
}
.testimonial-left .img-testimonial {
  max-width: 330px;
}
.testimonial-right {
  width: 50%;
  position: relative;
}
.testimonial-right .slider-testimonial .item {
  max-width: 570px;
  margin-block: 48px;
}
.testimonial-right .slider-testimonial .item-username {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 160%;
  letter-spacing: 0.09px;
}
.testimonial-right .slider-testimonial .item-comment {
  color: #ffffff;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.13px;
  margin-block: 24px;
}
.testimonial-right .slider-testimonial .item-rate-wrap {
  gap: 8px;
}
.testimonial-right .slider-testimonial .item-rate-wrap .ic-star {
  max-width: 20px;
}
.testimonial-right .slider-testimonial .slick-slide {
  opacity: 0.5;
}
.testimonial-right .slider-testimonial .slick-current {
  opacity: 1;
}
.testimonial-right .slider-testimonial .slick-dots {
  position: absolute;
  top: 50%;
  bottom: unset;
  right: 0;
  width: unset;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.testimonial-right .slider-testimonial .slick-dots li {
  margin-block: 12px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.testimonial-right .slider-testimonial .slick-dots li button {
  width: inherit;
  height: inherit;
}
.testimonial-right .slider-testimonial .slick-dots li button::before {
  content: unset;
}
.testimonial-right .slider-testimonial .slick-dots li.slick-active {
  transform: scale(1.35);
  background-color: #ffffff;
}
@media (max-width: 1200px) {
  .testimonial-left .heading-content {
    margin-bottom: 80px;
  }
  .testimonial-right .slider-testimonial .item {
    margin-bottom: 42px;
  }
  .testimonial-right .slider-testimonial .item-comment {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .testimonial-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .testimonial-left {
    width: 100%;
  }
  .testimonial-left .heading-content {
    margin-bottom: 60px;
  }
  .testimonial-right {
    width: 100%;
  }
  .testimonial-right .slider-testimonial .item {
    max-width: 80%;
    margin-block: 20px;
  }
  .testimonial-right .slider-testimonial .item-comment {
    margin-block: 16px;
  }
}
@media (max-width: 576px) {
  .testimonial-right .slider-testimonial .item {
    max-width: 95%;
    margin-block: 20px;
  }
  .testimonial-right .slider-testimonial .item-comment {
    margin-block: 16px;
  }
}

.mobile-app-left .heading-content {
  margin-bottom: 80px;
  max-width: 470px;
}
.mobile-app-left .heading-content .heading-text {
  margin-bottom: 24px;
}
.mobile-app-right .img-mobile-app {
  max-width: 570px;
}
@media (max-width: 1200px) {
  .mobile-app-left .btn-wrap {
    gap: 38px;
  }
  .mobile-app-right .img-mobile-app {
    max-width: 470px;
  }
}
@media (max-width: 768px) {
  .mobile-app-right .img-mobile-app {
    max-width: 408px;
  }
}
@media (max-width: 576px) {
  .mobile-app-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.footer {
  padding-block: 80px;
}
.footer-left .footer-brand {
  margin-bottom: 72px;
}
.footer-left .footer-brand .footer-logo {
  font-size: 24px;
  font-weight: 500;
  font-family: "SF Pro Display", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 24px;
}
.footer-left .footer-brand .footer-logo .img-footer-logo {
  max-width: 48px;
}
.footer-left .footer-brand .desc-text {
  max-width: 300px;
}
.footer-left .footer-subscribe-wrap {
  margin-bottom: 24px;
}
.footer-left .footer-subscribe .sub-heading-text {
  margin-bottom: 8px;
}
.footer-left .footer-subscribe form {
  display: flex;
  gap: 10px;
}
.footer-left .footer-subscribe form input[type=email] {
  font-family: "SF Pro Display", sans-serif;
  padding: 12px 4px 12px 24px;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #151515;
  border-radius: 8px;
}
.footer-right .wrapper-top {
  margin-bottom: 80px;
  gap: 80px;
}
.footer-right .wrapper-top .sub-heading-text {
  margin-bottom: 23px;
}
.footer-right .wrapper-top .desc-text-small {
  display: block;
  cursor: pointer;
  transition: all 300ms ease;
}
.footer-right .wrapper-top .desc-text-small:hover {
  color: #ffffff;
}
.footer-right .wrapper-top .desc-text-small:not(:last-child) {
  margin-bottom: 16px;
}
.footer-right .wrapper-bottom .social-media .sub-heading-text {
  margin-bottom: 20px;
}
.footer-right .wrapper-bottom .social-media .wrap {
  gap: 12px;
}
.footer-right .wrapper-bottom .social-media .wrap .ic-social-media {
  max-width: 48px;
}
.footer-right .wrapper-bottom .copyright {
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.07px;
}
@media (max-width: 1200px) {
  .footer-right-right .wrapper-top {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .footer-left .footer-brand {
    margin-bottom: 32px;
  }
  .footer-right .wrapper-top {
    margin-bottom: 32px;
  }
  .footer-right .wrapper-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
@media (max-width: 576px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .footer-left form {
    flex-direction: column;
  }
  .footer-right .wrapper-top {
    flex-direction: column;
    gap: 32px;
  }
  .footer-right .wrapper-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}/*# sourceMappingURL=style.css.map */