.community {
    overflow: hidden;

    &-wrapper {
        position: relative;

        .img-community {
            position: absolute;
            bottom: 0;
            right: -420px;
            max-width: 1020px;
        }
    }

    &-top {
        margin-bottom: 113.5px;
        .heading-content {
            .label-text {
                margin-bottom: 32px;
            }
            .heading-text {
                max-width: 470px;
                width: 100%;
            }
        }
    }

    &-bottom {
        padding-bottom: 114px;
        .community-list {
            border-radius: 30px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            padding: 48px 56px;
            max-width: 470px;
            width: 100%;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .desc-list {
                    .country {
                        font-family: $font-sf-pro-display;
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 140%;
                        letter-spacing: 0.13px;
                        color: $secondary-color;
                        margin-bottom: 8px;
                    }

                    .members {
                        color: rgba(255, 255, 255, 0.6);
                        font-weight: 400;
                        line-height: 140%;
                        letter-spacing: 0.07px;
                    }
                }
            }

            .border-bottom {
                width: 358px;
                height: 2px;
                display: block;
                margin: 32px auto;
                background-image: linear-gradient(
                    270deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.4) 51.56%,
                    rgba(255, 255, 255, 0) 100%
                );
            }
        }
    }

    @media (max-width: 1200px) {
        &-wrapper {
            .img-community {
                max-width: 832px;
            }
        }

        &-bottom {
            .community-list {
                max-width: 462px;
                .item {
                    .desc-list {
                        .country {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            .img-community {
                display: none;
            }
        }
        &-top {
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            margin-bottom: 60px;
        }

        &-bottom {
            padding-bottom: unset;
        }
    }

    @media (max-width: 576px) {
        &-bottom {
            padding-bottom: unset;
            .community-list {
                padding: 34px 36px;
                .item {
                    flex-direction: column;
                    gap: 16px;
                }

                .border-bottom {
                    width: 100%;
                }
            }
        }
    }
}
