.d {
    &-flex {
        display: flex;
    }
    &-inline-flex {
        display: inline-flex;
    }
}

.justify-content {
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    &-end {
        justify-content: flex-end;
    }
    &-start {
        justify-content: flex-start;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
}

.flex {
    &-row {
        flex-direction: row;
    }
    &-row-reverse {
        flex-direction: row-reverse;
    }
    &-column {
        flex-direction: column;
    }
    &-column-reverse {
        flex-direction: column-reverse;
    }
}

.container {
    max-width: 1440px;
    padding: 0 135px;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
        padding: 0 135px;
        margin: 0 auto;
    }

    @media (max-width: 1200px) {
        max-width: 1440px;
        padding: 0 62px;
        margin: 0 auto;

        &-fluid {
            max-width: 100%;
            padding: 0 62px;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        padding: 0 30px;

        &-fluid {
            padding: 0 30px;
        }
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-sf-pro-display;
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;
    background-color: $black-color;
}

.img,
.ic {
    width: 100%;
}

.bg-dark {
    background-color: $black-color;
}

a {
    text-decoration: none;
}

section {
    padding-block: 80px;

    @media (max-width: 1200px) {
        padding-block: 40px;
    }

    @media (max-width: 576px) {
        padding-block: 30px;
    }
}

// heading-text
.heading-text {
    font-family: $font-sf-pro-display;
    font-size: 52px;
    line-height: 120%;
    font-weight: 500;
    color: $secondary-color;

    span {
        color: $primary-color;
    }

    @media (max-width: 1200px) {
        font-size: 42px;
    }

    @media (max-width: 576px) {
        font-size: 32px;
    }
}

// sub-heading-text
.sub-heading-text {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-sf-pro-display;
    line-height: 150%;
    letter-spacing: 0.09px;
}

// desc-text
.desc-text {
    font-family: $font-sf-pro-display;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.09px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.desc-text-small {
    font-family: $font-sf-pro-display;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.07px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
