.hero {
    .hero-wrapper {
        position: relative;
    }
    &-left {
        .heading-content {
            margin-bottom: 80px;
            .heading-text {
                font-size: 76px;
                margin-block: 32px;
                max-width: 670px;
            }

            .desc-text {
                max-width: 530px;
            }
        }
        .btn-wrap {
            gap: 38px;
        }
    }

    &-right {
        .img-hero {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 587px;
        }
    }

    @media (max-width: 1200px) {
        &-left {
            .heading-content {
                // margin-bottom: 80px;
                .heading-text {
                    font-size: 62px;
                    // margin-block: 32px;
                    max-width: 542px;
                }

                .desc-text {
                    max-width: 485px;
                }
            }
            // .btn-wrap {
            //     gap: 38px;
            // }
        }

        &-right {
            .img-hero {
                // position: absolute;
                // top: 0;
                // right: 0;
                max-width: 418px;
            }
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            flex-direction: column;
        }
        &-left {
            .heading-content {
                margin-bottom: 60px;
                .heading-text {
                    font-size: 62px;
                    // margin-block: 32px;
                    max-width: 542px;
                }

                .desc-text {
                    max-width: 485px;
                }
            }
            // .btn-wrap {
            //     gap: 38px;
            // }
        }

        &-right {
            .img-hero {
                display: none;
            }
        }
    }

    @media (max-width: 576px) {
        &-left {
            .heading-content {
                margin-bottom: 40px;
                .heading-text {
                    font-size: 34px;
                    margin-block: 24px;
                    width: 100%;
                }

                .desc-text {
                    max-width: 485px;
                }
            }
            // .btn-wrap {
            //     gap: 38px;
            // }
        }

        &-right {
            .img-hero {
                display: none;
            }
        }
    }
}
