.mobile-app {
    &-left {
        .heading-content {
            margin-bottom: 80px;
            max-width: 470px;
            .heading-text {
                margin-bottom: 24px;
            }
        }
    }

    &-right {
        .img-mobile-app {
            max-width: 570px;
        }
    }

    @media (max-width: 1200px) {
        &-left {
            .btn-wrap {
                gap: 38px;
            }
        }
        &-right {
            .img-mobile-app {
                max-width: 470px;
            }
        }
    }

    @media (max-width: 768px) {
        &-right {
            .img-mobile-app {
                max-width: 408px;
            }
        }
    }

    @media (max-width: 576px) {
        &-wrapper {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
}
