@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$font-sf-pro-display: "SF Pro Display", sans-serif;
$font-poppins: "Poppins", sans-serif;
$primary-color: #e739e0;
$secondary-color: #ffffff;
$black-color: #0a0a15;
$dark-slate-gray: #353548;
$storm-cloud-gray: #64646b;
$silver: #a6a6a6;
